name: "CI"

# This is a CI workflow that builds the project on Windows

on:
  workflow_dispatch:
  pull_request:
  push:

env:
  BUILD_TYPE: Release

jobs:
  build:
    name: "Build"
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        
    - name: Build
      run: |
        mkdir build 
        cd build
        cmake .. -DBUILD_EXAMPLES=ON
        cmake --build . --config ${{env.BUILD_TYPE}}